#symbol_map {
	display: inline-block;
	margin: auto;
	width: 100%;
	padding-bottom: 30px;
}
#sunburst {
	display:block;
	width: 1000px;
}
#area {
	display: block;
	width: 870px;
}
#text1 {
	margin: auto;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
	width: 1000px;
	text-align: center;
}
#text2 {
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
  	width: 1000px;
	text-align: center;
	margin: auto;
}
#col1 {
	width: 52%
}
#col2 {
	width: 48%
}
.column {
	float: left;
	vertical-align: top;
	padding-bottom: 30px;
  }
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* headings */
.title { 
	margin: auto;
	text-align: center;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
}
.name {
	margin: auto;
	text-align: center;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
}
.subheading{ 
	margin: auto;
	padding: 30px;
	padding-bottom: 60px;
	text-align: center;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
}
form.vega-bindings {
	position: absolute;
	left: 80px;
	bottom: 50px;
  }
.vega-bind > label > span {
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
	padding-right: 10px;
	vertical-align: top;
	padding-left: 10px; 
}
input[name="year_select"] {
	width: 300px;
  }
#Business {
	color: #54A24B;
}
#Masters {
	color: #FDC086;
}
#ten {
	color: #439894;
}
#fifteen {
	color: #3C8985;
}
#twenty {
	color: #2F6A68;
}